@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
body {
  margin: 0;
  background-color: #2d304a !important;
  color: #d8d7da !important;
}
.nav-link {
  color: #d8d7da !important;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: rgba(0, 0, 0, 0.3) !important;
  font-family: "Montserrat", sans-serif;
}
header .btn-warning {
  background-color: #2d304a;
  color: #d8d7da !important;
  border: 2px solid #2d304a;
}
header .btn-warning:hover {
  background-color: #d8d7da !important;
  color: #2d304a !important;
  border: 2px solid #2d304a;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335 !important;
}

.login-container {
  /* background-image: url("https://picsum.photos/1000/800"); */
  /* background-size: cover; */
}
.form-bg {
  opacity: 0.93;
}
.drinks-card-container h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem !important;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.726);
}
.card {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: none !important;
  color: rgb(216, 215, 218);
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
}
.flip-card {
  background-color: transparent;
  /* width: 300px;*/
  height: 300px;
  perspective: 150rem;
}
.flip-card-inner {
  position: relative;
  width: 200px;
  height: 300px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.flip-card:hover .btn {
  background-color: #2d304a !important;
  border: none !important;
  width: 50%;
  color: #d8d7da;
  font-family: "Montserrat", sans-serif;
  padding: 0.6rem 0;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 200px;
  height: 300px;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.select-container {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-container h4 {
  color: rgb(216, 215, 218);
  font-family: "Montserrat", sans-serif;
}
.select-container select {
  color: #d8d7da;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  width: 60%;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0 1rem;
  margin-top: 20px;
}
.select-container option {
  color: #d8d7da;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
footer {
  background-color: rgba(0, 0, 0, 0.3) !important;
  font-family: "Montserrat", sans-serif;
}
footer a {
  text-decoration: none !important;
  color: #d8d7da !important;
  margin-left: 10px;
  margin-right: 10px;
}
.nested {
  display: flex;
  justify-content: center;
}
.row-container {
  font-family: "Montserrat", sans-serif;
  width: 60%;
}
.row-container img {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

select option:nth-child(1) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}

.option-drinks:nth-child(2) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(3) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(4) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(5) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(6) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(7) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(8) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(9) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(10) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(11) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(12) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(13) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(14) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}
.option-drinks:nth-child(15) {
  background: #2d304a !important;
  color: rgb(216, 215, 218);
}

/* Search */
.places-container .search-container {
  border-radius: 10px;
  border: 3px dashed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c2) 40%
    )
    30;
  animation: borderRadial var(--d) linear infinite forwards;
}
.places-container input {
  font-family: "Montserrat", sans-serif;
  color: #d8d7da;
  background-color: rgba(0, 0, 0, 0.1);
  border: none !important;
  width: 60%;
  margin: auto;
  padding: 10px 0px !important;
  font-size: 0.8rem;
}
.places-container input:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #d8d7da;
}
.places-container input::placeholder {
  color: #d8d7da85;
}

/* .places-container .btn-outline-success {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: #d8d7da !important;
  border: 2px solid #2d304a !important;
  font-size: 0.9rem;
}
.places-container .btn-outline-success:hover {
  background-color: #d8d7da88 !important;
  color: #2d304a !important;
  border: 2px solid #2d304a !important;
} */

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgb(169, 168, 255);
  --c2: #2d304a;
}
@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}
@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}
@keyframes borderRadial {
  0% {
    --gradX: 50%;
    --gradY: 0%;
  }
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 0%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 0%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
.places .card {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  color: #d8d7da;
}
.places .card .card-title {
  font-size: 1.2rem !important;
}
.places .card .card-text {
  font-size: 0.8rem !important;
  line-height: 1.1rem;
}
.places .card .card-text span {
  font-weight: bold;
}
.comments {
  display: -webkit-box;
  -webkit-line-clamp: 2; /*Kaç Stırda sınırlamak istiyorsanız */
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px !important;
  line-height: 14px !important;
}
.comments p {
  margin-bottom: 5px;
  font-weight: bold;
}
.btn-danger {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: none !important;
  color: #d8d7da !important;
  font-size: 13px !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/********* HOVER BUTTON *********/

.button-hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: #d8d7da !important;
  border: 2px solid #2d304a !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.9rem;
  width: 200px;
  height: 50px;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.button-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button-hover:active {
  color: #000 !important;
  font-weight: 600 !important;
}

.button-hover:active:after {
  background: transparent;
}

.button-hover:hover:before {
  opacity: 1;
}

.button-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
