@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
} 
.brand-name {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
}
.nav-link {
  font-size: 1.2rem !important;
}
