@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.brand-name {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
}
.nav-link {
  font-size: 1.2rem !important;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335 !important;
}

.login-container {
  background-image: url("https://picsum.photos/1000/800");
  background-size: cover;
}

.form-bg {
  opacity: 0.93;
}

.comments {
  display: -webkit-box;
  -webkit-line-clamp: 2; /*Kaç Stırda sınırlamak istiyorsanız */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 150rem;
}

.flip-card-inner {
  position: relative;
  width: 200px;
  height: 200px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  text-align: center;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
